@{
    ViewBag.Title = "Cadastro";
}

<div class="container">
    <div class="card card-register mx-auto mt-4">
        <div class="card-header">Registro de Projeto</div>
        <div class="card-body">
            <form action="@Url.Action("Store")" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="campo-cliente">Cliente</label>
                                    <select id="campo-cliente" name="idCliente" class="form-control" required="required">
                                        <option disabled="disabled" selected="selected">Selecione um Cliente</option>
                                        @foreach (Model.Cliente cliente in ViewBag.Clientes)
                                        {
                                            <option value="@cliente.Id">@cliente.Nome</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="campo-nome">Nome</label>
                                    <input type="text" id="campo-nome" class="form-control" required="required"
                                           placeholder="Nome do Projeto" autofocus="autofocus" name="nome" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="campo-data-criacao">Data Criação</label>
                                    <input type="datetime" id="campo-data-criacao" class="form-control data" placeholder="Data de Criação" required="required"
                                           autofocus="autofocus" name="dataCriacaoProjeto" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <label for="campo-data-finalizacao">Data Finalização</label>
                                    <input type="datetime" id="campo-data-finalizacao" class="form-control data" placeholder="Data de Finalização" required="required"
                                           autofocus="autofocus" name="dataFinalizacao" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success col-md-12" type="submit">Registrar</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="@Url.Action("Index", "Projeto")">Deseja alterar algum projeto já cadastrad ?</a>
            </div>
        </div>
    </div>
</div>