
@{
    ViewBag.Title = "Index";
}

<h3 class="text-center">Lista de Categorias</h3>
<button class="btn btn-primary" data-toggle="modal" data-target="#modalCadastroCategoria">Nova Categoria</button>
<div class="row">
    <div class="col-3 offset-9">
        <div class="form-group">
            <input type="text" id="campo-pesquisa" placeholder="Busca" class="form-control" />
        </div>
    </div>
</div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody id="lista-categorias"></tbody>
    <tfoot>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </tfoot>
</table>

<div class="modal fade" id="modalCadastroCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro de Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="campo-nome">Nome</label>
                    <input type="text" id="campo-nome" class="form-control" />
                </div>
                <button type="button" class="btn btn-success" id="categoria-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Categoria/Categoria.js"></script>
</div>